<h1 align="center"><%= @user.username.capitalize %>'s profile page</h1>
<div class="row">
  <div class="col-sm-offset-4 col-sm-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 align="center"><%= @user.username.capitalize %>'s articles:</h4>
<div class="center"><%= will_paginate @user_articles %></div>
<%= render 'articles/listarticle', obj: @user_articles %>
<div class="center"><%= will_paginate @user_articles %></div>
